// 背景色 => bg-

// $bg-header
// $bg-footer
// $bg-base
// $bg-no-image
// $bg-card-label
// $bg-card-footer
// $bg-input
// $bg-btn-submit

// 文字色 => c-
// $c-base
// $c-btn-post
// $c-link-default
// $c-link-active
