$fz-base: 16px;

// $fz-header
// $fz-footer
// $fz-title
// $fz-form-title
// $fz-form-description
// $fz-form-label
// $fz-card-date
// $fz-card-account-name
// $fz-card-foot
// $fz-header
// $fz-note
// $fz-btn